<template>
   <button><span>✖</span><span>Очистить фильтр</span></button>
</template>

<style scoped>
button {
width: 324px;
height: 56px;
border: none;
cursor: pointer;
border: 1px solid #EAEAEA;
background: #EAEAEA;
border-radius: 15px;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #3A3A3A;
}
button:hover{
  background: #d7d7d7;
}
span{
  padding: 0 5px ;
}
</style>