<template>
  <button class="btn" v-if="book == false"><img :src="IconNoBook" /> <span>Забронировать</span></button>
  <button class="btn-active" v-else><img :src="IconBook" /> <span>Забронировано</span></button>  
</template>

<script>
import IconNoBook from '../assets/IconNoBook.svg'
import IconBook from '../assets/IconBook.svg'

export default {
  props: ['book'],
  data() {
    return {
      IconNoBook,
      IconBook
    };
  }

}
</script>

<style scoped>

.btn {
  display: inline-block;
  margin: 10px 0 0 0px;
  border: none;
  color: #6A53F5;
  padding: 12px 30px;
  font-size: 14px; 
  cursor: pointer; 
  background: #F1EEFE;
  border-radius: 12px;
}
.btn img {
  padding: 0 10px 0 0;
}

.btn:hover {
  background-color: #cfc6f7;
}
.btn-active {
  margin: 10px 0 0 0px;
  border: none;
  color: #00BB6D;
  padding: 12px 30px;
  font-size: 14px; 
  cursor: pointer; 
  background: #E6F9F1;
  border-radius: 12px;
}
.btn-active img {
  padding: 0 10px 0 0;
}

.btn-active:hover {
  background-color: #c0fce3;
}
</style>