<template>
  <button><span>Применить фильтр</span></button>
</template>

<style scoped>
button {
  width: 324px;
  height: 56px;
  background: #6A53F5;
  cursor: pointer; 
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  border: none;
}
button:hover {
  background: #4d30f5;

}
</style>