<template>
  <div class="item-container plug" v-if="!hotels.length">
    <div class="bold-txt">По данным параметрам ничего не найдено</div>
  </div>
  <div v-else v-for="(item, index) in hotels">
    <div class="item-container " v-if="index < page * itemsPerPage && index >= (page - 1) * itemsPerPage">
      <div class="item-content row">
        <div class="col">
          <div class="item-name bold-txt">
            {{ item.name }}
          </div>
          <div class="row">
            <StarRating :stars='item.stars' />
            <div class="item-type small-txt grey">
              {{ item.type }}
            </div>
            <div class="item-reviews_amount small-txt grey">
              {{ item.reviews_amount }} отзывов
            </div>
            <div class="item-country small-txt">
              {{ item.country }}
            </div>
          </div>
          <div class="item-last_review medium-txt">
            {{ item.last_review }}
          </div>
        </div>
        <div class="col item-price_container">
          <div>
            <div class="item-price_price bold-big-txt">
              {{ item.min_price }}
            </div>
            <div class="item-price_desc small-txt grey">
              Цена за 1 ночь
            </div>
          </div>
          <ButtonBook :book="!!item.booked" @click="item.booked = !item.booked" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StarRating from '../components/StarRating.vue'
import ButtonBook from '../components/ButtonBook.vue'

export default {
  props: ['hotels', 'page', 'itemsPerPage'],
  data() {
    return {
    }
  },
  components: {
    StarRating,
    ButtonBook
  }


}
</script>

<style scoped>
.plug {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 830px;
  height: 166px;
}
.item-container {
  margin: 20px;
  border: 1px solid #EAEAEA;
  border-radius: 15px;
}

.item-content {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.item-type {
  padding: 0 0 0 15px;
}

.item-country::before {
  content: url(../assets/CountryPoint.svg);
  padding: 0 8px 0 15px;
}

.item-reviews_amount::before {
  content: "⋅";
  padding: 0 8px 0 8px;
}

.item-price_price::after {
  padding: 0 0 0 5px;
  content: "₽";
}

.item-price_price::first-letter {
  padding: 0 8px 0 0;
}

.item-last_review {
  padding: 16px 0 0 0;
}

.item-price_container {
  display: flex;
  align-items: flex-end;
  margin: 0 20px;
}
</style>
