<script>
import IconLoop from '../assets/IconLoop.svg'

export default {
  props: ['modelValue', 'placeholder', 'loopIcon'],
  emits: ['update:modelValue'],
  data() {
    return {
      IconLoop
    }
  },
  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  }
}
</script>

<template>
  <div class="input-container" v-if="loopIcon">
    <input v-model="value" :placeholder="placeholder"/>
    <img :src="IconLoop"/>
  </div>
  <div class="input-container" v-else>
    <input v-model="value" :placeholder="placeholder" type="number"/>
  </div>
</template>

<style scoped>
input {
  width: 325px;
  height: 50px;
  padding: 0 0 0 40px;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
}
input[type=text] {
  padding: 10px;
}
.input-container {
  position: relative;
}

img {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 8px 10px;
  color: #30A3F1;
}
</style>