<script>

export default {
  props: ['modelValue', 'data', 'stars'],
  emits: ['update:modelValue'],
  data() {
    return {
    }
  },
  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  }
}
</script>

<template>
  <div class="checkbox-container" v-if="data.length">
    <div class="checkbox-content" v-if="stars == true">
      <label class="name medium-txt" v-for="item in data">{{ item.name }}
        <input type="checkbox" :value="item.num" v-model="value">
        <span class="mark"></span>
      </label>
    </div>
    <div class="checkbox-content" v-else>
      <label class="name medium-txt" v-for="item in data">{{ item }}
        <input type="checkbox" :value="item" v-model="value">
        <span class="mark"></span>
      </label>
    </div>
  </div>
  <div class="plug checkbox-container" v-else>
    <div class="small-txt grey">
      К сожалению, по вашему запросу ничего не найдено :(
    </div>
  </div>

</template>

<style scoped>
.plug {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 367px;
  height: 120px;
}

.checkbox-container {
  border: 1px solid #EAEAEA;
  border-radius: 10px;
}

.checkbox-content {
  margin: 10px;
}

.name {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 15px;
  cursor: pointer;
}

input[type=checkbox] {
  visibility: hidden;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.name:hover input~.mark {
  background-color: rgb(245, 245, 245);
}

.name input:active~.mark {
  background-color: #bafce0;
}

.name input:checked~.mark {
  background: #00BB6D;
}

.mark:after {
  content: "";
  position: absolute;
  display: none;
}

.name input:checked~.mark:after {
  display: block;
}

.name .mark:after {
  left: 5px;
  bottom: 5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
</style>