<template>
  <button :disabled="!enabled"><span>{{title}}</span></button>
</template>
<script>
export default {
  props: ['title', 'enabled'],
  }
</script>

<style scoped>

button {
  background: #6A53F5;
  cursor: pointer; 
  border-radius: 15px;
  color: #FFFFFF;
  border: none;
}
button:hover {
  background: #4d30f5;

}
button:disabled {
  cursor: not-allowed;
  background: grey;
}
</style>