<template>
  <div>
    <div class="input-container">
      <input class="inpt" v-model="value[0]" type="number" min="0" max="5000"/>
      <input class="inpt" v-model="value[1]" type="number" min="0" max="5000"/>
    </div>
    <div class="empty-space" />
    <Slider :value="value" @change="changePrice" :max="5000" :tooltips="false" />
  </div>
</template>

<script>
import Slider from '@vueform/slider'

export default {
  props: ['modelValue', 'value'],
  emits: ['update:modelValue'],
  components: {
    Slider,
  },
  data() {
    return {
    }
  },
  watch: {
    value: {
      handler(el) {
        this.$emit('update:modelValue', el)
      },
      deep: true
    }
  },
  methods: {
    changePrice(el) {
      this.$emit('update:modelValue', el)
    }
  }
}
</script>

<style>
@import "@vueform/slider/themes/default.css";

.inpt {
  width: 148px;
  height: 50px;
  border: 1px solid #EAEAEA !important;
  border-radius: 8px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}
</style>