<template>
  <div class="star-rating">
    <span>&starf;</span>
    <span>&starf;</span>
    <span>&starf;</span>
    <span>&starf;</span>
    <span>&starf;</span>
    <div class="star-rating__current">
      <span v-for="star in stars">&starf;</span>
    </div>
  </div>

</template>
<script>
export default {
  props: ['stars']
}
</script>
<style scoped>
span {
  padding: 0 5px 0 0;
  size: 14px;
}
.star-rating {
  display: inline-block;
  color: #D7D7D7;
  position: relative;
}
.star-rating__current {
  position: absolute;
  top: 0;
  color: #FFA900;
  overflow: hidden;
}
</style>