<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bold-small-txt">Страна</div>
        <div class="empty-space" />
        <InputText v-model="countryInput" placeholder="Поиск стран" :loopIcon="true" />
        <InputCheckbox v-model="checkedCountries" :data="filteredCountry" />
        <div class="empty-space" />
        <div class="bold-small-txt">Тип</div>
        <div class="empty-space" />
        <InputCheckbox v-model="checkedTypes" :data="types" />
        <div class="empty-space" />
        <div class="bold-small-txt">Количество звезд</div>
        <div class="empty-space" />
        <InputCheckbox v-model="checkedStars" :data="starsRating" :stars="true" />
        <div class="empty-space" />
        <div class="bold-small-txt">Количество отзывов (от)</div>
        <div class="empty-space" />
        <InputText v-model="reviewsInput" placeholder="Например, от 10" />
        <div class="empty-space" />
        <div class="bold-small-txt">Цена</div>
        <div class="empty-space" />
        <SliderPrice v-model="priceInput" :value="priceInput"/>
        <div class="empty-space" />
        <ButtonFilter value="Применить фильтр" @click="filterHotel"/>
        <div class="empty-space" />
        <ButtonReset value="Очистить фильтр" @click="clearFIlter"/>
      </div>
      <div class="col">
        <HotelItem :hotels="hotels" :page="page" :itemsPerPage="itemsPerPage" />
        <div class="small-txt grey pagination-container">
          Страница {{ page }} из {{ pageCount }}
          <PaginationButton @click="prevPage" :title="'предыдущая'" :enabled="page > 1"/>
          <PaginationButton @click="nextPage" :title="'следующая'" :enabled="page < pageCount"/>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import HotelItem from './components/HotelItem.vue'
import data from './assets/hotels.json'
import { reactive, ref } from 'vue';
import InputText from './components/InputText.vue';
import InputCheckbox from './components/InputCheckbox.vue';
import SliderPrice from './components/SliderPrice.vue';
import ButtonFilter from './components/ButtonFilter.vue';
import ButtonReset from './components/ButtonReset.vue';
import PaginationButton from './components/PaginationButton.vue';


let countries = Array.from(data.hotels.reduce((p, c) => p.add(c.country), new Set()))
let types = Array.from(data.hotels.reduce((p, c) => p.add(c.type), new Set()))
let filteredCountries = ref(countries)
export default {
  data() {
    return {
      hotels: data.hotels,
      countryInput: '',
      checkedCountries: [],
      checkedTypes: [],
      checkedStars: [],
      reviewsInput: undefined,
      priceInput: [0, 5000],
      countries,
      types,
      filteredCountries,
      starsRating: [
        {
          num: 1,
          name: "1 звезда"
        },
        {
          num: 2,
          name: "2 звезды"
        },
        {
          num: 3,
          name: "3 звезды"
        },
        {
          num: 4,
          name: "4 звезды"
        },
        {
          num: 5,
          name: "5 звезд"
        },
      ],
      page: 1,
      itemsPerPage: 3,
    }
  },
  components: {
    HotelItem,
    InputText,
    InputCheckbox,
    SliderPrice,
    ButtonFilter,
    ButtonReset,
    PaginationButton
  },
  computed: {
    filteredCountry() {
      return filteredCountries.value.filter(elem => elem.toLocaleLowerCase().includes((this.countryInput.toLocaleLowerCase())))
    },
    pageCount() {
      return Math.ceil(this.hotels.length / this.itemsPerPage);
    }
  },
  methods: {
    nextPage() {
      if (this.page < this.pageCount)
        this.page++
    },
    prevPage() {
      if (this.page > 1)
        this.page--
    },
    filterHotel() {
      let f = data.hotels;
      if (this.checkedCountries.length)
        f = f.filter(hotel => this.checkedCountries.indexOf(hotel.country) >= 0);
      if (this.checkedTypes.length)
        f = f.filter(hotel => this.checkedTypes.indexOf(hotel.type) >= 0);
      if (this.checkedStars.length)
        f = f.filter(hotel => this.checkedStars.indexOf(hotel.stars) >= 0);      
      if (this.reviewsInput)
        f = f.filter(hotel => hotel.reviews_amount >= this.reviewsInput);
      if (this.priceInput.length >= 2)
        f = f.filter(hotel => hotel.min_price >= this.priceInput[0] && hotel.min_price <= this.priceInput[1]);
               
      this.hotels = f;
      this.page = 1;
    },
    clearFIlter () {
      this.checkedCountries = [];
      this.checkedTypes = [];
      this.checkedStars = [];
      this.reviewsInput = null;
      this.priceInput = [0, 5000];
      this.hotels = data.hotels;
    }
  },

}
</script>

<style scoped>
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.pagination-container{
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}
.pagination-container button {
  margin: 0 10px ;
}
</style>
