@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@500;700&display=swap');
:root {
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.bold-txt {
  font-weight: 700;
  font-size: 20px;
}
.bold-big-txt {
  font-weight: 700;
  font-size: 25px;
}
.bold-small-txt {
  font-weight: 700;
  font-size: 16px;
}
.medium-txt {
  font-weight: 400;
  font-size: 16px;
}
.small-txt {
  font-weight: 400;
  font-size: 14px;
}
.small-txt.grey {
  color: #868686;
}
.empty-space {
  height: 15px;
}